In [ ]:
id(6)

In [ ]:
x = 20456
y = 20456

print(id(x))
print(id(y))

In [ ]:
x = 5
y = 5

print(id(x))
print(id(y))

## None

In [ ]:
None

In [ ]:
x = None
y = None

x is y

In [ ]:
type(None)

## Boolean

In [ ]:
10 == 923

In [ ]:
3 == 3

In [ ]:
x = 300
y = 300

x == y

In [ ]:
x = 300
y = 300
print(id(x))
print(id(y))
print('result', x is y)

In [ ]:
x = None
print(id(x))
print('result', x is None)

In [ ]:
x = True
print(id(x))
print('result', x is True)

In [ ]:
print(3 != 3)
print(3 > 2)
print(2 >= 3)

In [ ]:
type(10 > 9)

| True  | False |
| --- | -- |
| Більшість об'єктів | None |
| 1 | 0 |
| 3.4 | 0.0 |
| 'Будь-який текст' | '' |

In [ ]:
bool(0)

In [ ]:
bool('')

In [ ]:
bool('False')

In [ ]:
a = 3
print(3 < a)
print(a <= 5)
print(3 < a <= 5)

## Practice chapter 1:
1. Guess result of expression without executing it:

    a) 1 <= 1
    
    b) 1 != 1

    c) 1 != 2

2. Make all of them true.
    
    a) 3 __ 4

    b) 10 __ 5
    
    c) 42 __ "42"

## String

In [ ]:
print('Hello')
type('Hello')

In [ ]:
print("Один великий рядок \
який може розтягнутись на декілька екранів\
")

In [ ]:
print("""
        Один великий рядок
який може розтягнутись на декілька екранів
""")

In [ ]:
print('''
Один великий рядок
який може розтягнутись на декілька екранів
''')

In [ ]:
print(''Apple' is doomed')

In [ ]:
print('"Apple" is doomed')

In [ ]:
print("\"Apple\" is doomed")

In [ ]:
print('Hellostudentsi`m a new string')
print('Hello\tstudents\ni`m a new string \\')

In [ ]:
print(r'Hello\tstudents\ni`m a new string \\')

## Practice chapter 2
1. Print the text in which there will be a quote with double quotes.
2. Print the text in which there will be an apostrophe.
3. Print one line that will be displayed on several lines
4. Print text that doesn`t fit in one line but will be displayed in one line

In [ ]:
print("Hello, " + "world" + '123')
type("Hello, " + "world")

In [ ]:
'123' == "123"

In [ ]:
str(123)

In [ ]:
print('Value is ' + str(100))

In [ ]:
print(str(2) + ' and ' + str(2))

In [ ]:
print(2 + 2)

In [ ]:
print("Львів " in "Київ, Львів, Харків, Одеса")

In [ ]:
print("Львів," in "Київ, Львів, Харків, Одеса")

In [ ]:
print("Київ" not in "Київ, Львів, Харків, Одеса")

In [ ]:
print('Kyiv' == 'Kiev')

In [ ]:
print('Kyiv' != 'Kiev')

In [ ]:
print('Kyiv' > 'Kiev')

In [ ]:
print('аб' > 'abb')

In [ ]:
print('ab' > 'abc')

In [ ]:
no = 'no' * 10
print(no)

In [ ]:
yes = 'yes'
print(yes)

In [ ]:
len(yes)

In [ ]:
print(yes)
print(no)
len(yes) < len(no)

| y  | e | s |
| - | - | - |
| 0 | 1 | 2 |

In [ ]:
'yes'[2]

In [ ]:
yes[3]

In [ ]:
yes[0] + yes[1] + yes[2]

In [ ]:
yes[0:2]
# yes[start:stop]

In [ ]:
yes[:2]

In [ ]:
yes[1:]

In [ ]:
yes[:]

| y  | e | s |
| - | - | - |
| 0 | 1 | 2 |
| -3 | -2 | -1 |

In [ ]:
print(yes[-1])
print(yes[2])

In [ ]:
yes *= 10

In [ ]:
yes

In [ ]:
yes[:]

In [ ]:
yes[]

In [ ]:
print(yes[:2] + yes[2:])

In [ ]:
numbers = '123456789'

In [ ]:
numbers[::2]

In [ ]:
numbers[::1]

In [ ]:
numbers[::-2]

In [ ]:
c = 'abc'

In [ ]:
id(c)

In [ ]:
c = c + 'd'
print(c)

In [ ]:
id(c)

In [ ]:
print(yes)
yes[2] = 'p'

In [ ]:
yes = 'yes'
yep = yes[:2] + 'p'
print(yep)
yes2 = yep[:2] + 's' 
print('yes2: ', yes2)

In [ ]:
age = 'I`m 10, 10 yearss old'

In [ ]:
age.replace('10', '14')

## Practice chapter 3
1. Create a variable with data type string. Count the length of this line.
2. Create another variable with string data type. Output the result of concatenation of these two variables.
3. Print the two previous variables, but with a space between them.
4. Get a string from user input. Check if the string is a palindrome.

In [ ]:
current_age = 15
name_var = 'Peter'
birthday_str = 'I`m {} years old. And my name is {}'
print(birthday_str.format(name_var, current_age))

In [ ]:
current_age = 15
name_var = 'Peter'
birthday_str = 'I`m {1} years old. And my name is {0}'
print(birthday_str.format(name_var, current_age))

In [ ]:
birthday_str = 'I`m {age} years old. And my name is {name}'
current_age = 15
name_var = 'Peter'
print(birthday_str.format(name=name_var, age=current_age))

In [ ]:
age_1 = 11
new_name = 'Peter'
birthday_str = f'I`m {age_1} years old. And my name is {new_name}'

print(birthday_str)

In [ ]:
print('forest gump'.upper())

## Practice chapter 4

1. The program receive user's name and age from input. Then you need to display the name and age in one line in several ways:

     a) by listing all the parameters in the print function

     b) by formatting a string using the format function

     c) by formatting a string with f-string

     String should looks like this: `"Your name is {name} and your {age} years old"`

In [ ]:
splitted = 'I`m split, years old'.split(' ')
print(splitted)

In [ ]:
joined_str = '|'.join(splitted)
print((joined_str))

In [ ]:
shitty_str = '   abc \n  '.strip()
print(shitty_str)

In [ ]:
dir(str)

## Practice chapter 5
Format string with a proper functions

1. All letters must be written in lowercase.
```
string_1 = "Animals  "
```

2. All letters must be capitalized.
```
string_2 = "  Badger"
```

3. Remove all spaces:
```
string_3 = "   HoneyPot   "
```

   a) from the beginning of the line

   b) from the end of the line

   c) on both sides of the line

4. Check the value of the startwith ('Be') function for each line.:
```
string_1 = "Bear"
string_2 = "bear"
string_3 = "BEAR"
string_4 = "bEar"
```
Convert rows with methods from prev exercise to have positive result for each row.

```
formatted_string = string_1.some_cool_function()
formatted_string.startwith('Be')
> True
```

5. Find and replace all letters 's' with the letter 'x' in the following line: 
```
Somebody said something to Samantha.
```

6. Leave only numbers in the following line using only string methods: 
```
'12345!,_6--'
```

7. (Optional) Find a secret message in the following text: `'X!xeXnxiXlX XtxeXrxcXeXsX Xax XsX`XtXIX'`

### Materials

#### Boolean
1. https://realpython.com/python-operators-expressions/#logical-operators

#### String 
1. https://realpython.com/python-strings/
2. https://realpython.com/python-string-formatting/
3. https://realpython.com/python-string-split-concatenate-join/
4. https://realpython.com/python-f-strings/